.main {
  composes: main from "./main.module.css";
}

.main-dark {
  composes: main-dark from "./main.module.css";
}

.section {
  composes: section from "./main.module.css";
}
.section-dark {
  composes: section-dark from "./main.module.css";
}

.card {
  composes: card from "./main.module.css";
}
.card-dark {
  composes: card-dark from "./main.module.css";
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  background-color: white;
  padding: 1dvh;
  width: 100%;
  flex: 1;
}
.p-dark {
  composes: p;
  background-color: var(--cardcolord);
  color: white;
}

.address {
  display: flex;
  width: 100%;
}

.article {
  width: 100%;
}
