.main {
  composes: main from "./main.module.css";
}

.main-dark {
  composes: main-dark from "./main.module.css";
}

.section {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 0;
  padding: 1dvh 1dvw;
  gap: 3dvh;
  background-color: hsl(var(--color2), 50%, 85%);
  /* border: 1dvh solid hsl(var(--color1), 100%, 30%); */
  /* border-radius: 10px; */
}

.card {
  composes: card from "./main.module.css";
}

.main,
.main-dark {
  display: flex;
  flex-flow: row;
  gap: 0;
}

.sidebar {
  background-color: hsl(var(--color2), 50%, 85%);
  /* border: 1dvh solid hsl(var(--color1), 100%, 30%);
  border-radius: 10px; */
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.content {
  padding: 1dvh 1dvw;
  gap: 3dvh;
  background-color: hsl(var(--color2), 50%, 85%);
  /* border: 1dvh solid hsl(var(--color1), 100%, 30%);
  border-radius: 10px; */
  flex: 5;
}

.all-container {
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  padding: 0.5dvw;
}

.all-container h1 {
  color: hsl(var(--color1), 100%, 50%);
  padding: 0.75dvw;
  align-self: center;
}

.sections-container {
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-flow: row;
  flex: 1 0 auto;
  gap: 0.5dvw;
  padding: 0.75dvw;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

h1,
h2 {
  cursor: default;
}

.list-item {
  font-size: 1.25em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row;
  width: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.75);
  &:hover {
    cursor: pointer;
    background-color: hsl(var(--color2), 50%, 95%);
    outline: 1px solid hsl(var(--color1), 100%, 50%);
  }
  &:active {
    background-color: hsl(var(--color2), 50%, 99%);
    user-select: none;
  }
}

.sidebar ul li:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
