.friend-requests-button {
  background-color: gray;
  &:hover {
    background-color: darkgray;
  }
}

.ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 1dvh;
}

.container {
  background-color: var(--sectioncolorl);
  padding: 3dvh;
  /* border: solid hsl(var(--color1), 100%, 40%) 1dvh;
  border-radius: 10px; */
}

.container-dark {
  composes: container;
  background-color: var(--sectioncolord);
}

.main {
  composes: main from "./main.module.css";
}

.main-dark {
  composes: main-dark from "./main.module.css";
}