.main {
  composes: main from "./main.module.css";
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lavender;
  padding: 5dvh 0;
  gap: 3dvh;
  margin: 1dvh 0 0 0;
}

.section {
  composes: section from "./main.module.css";
  gap: 0;
  padding: 3dvh;
}

.input-container {
  display: flex;
  gap: 1dvw;
  padding: 2dvh
}
