.main {
  composes: main from "./main.module.css";
  justify-content: flex-start;
  align-items: center;
}
.main-dark {
  composes: main-dark from "./main.module.css";
  justify-content: flex-start;
  align-items: center;
}

.form {
  composes: form from "./main.module.css";
}
.form-dark {
  composes: form-dark from "./main.module.css";
}

.section {
  composes: section from "./main.module.css";
  background-color: hsla(var(--color1), 100%, 99%, 50%);
  gap: 0;
}
.section-dark {
  composes: section-dark from "./main.module.css";
  background-color: hsla(var(--color1), 100%, 33%, 50%);
  gap: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 1dvw;
  padding: 2dvh;
  color: black;
  width: 100%;
}
.input-container-dark {
  composes: input-container;
  color: white;
  & > input {
    background-color: lightgray;
  }
}
