.main {
  padding-left: var(--main-padding-left);
  padding-right: var(--main-padding-right);
  padding-top: var(--main-padding-top);
  min-height: var(--main-height);
  width: 100dvw;
  display: flex;
  flex-flow: column;
  gap: 3dvh;
  background-color: var(--bgcolorl);
  color: var(--titlecolorl);
}

.main-dark {
  composes: main;
  background-color: var(--bgcolord);
  color: var(--titlecolord);
}

.section {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 1dvh 1dvw;
  gap: 3dvh;
  /* background-color: hsl(var(--color2), 50%, 85%); */
  background-color: white;
}

.section-dark {
  composes: section;
  background-color: var(--sectioncolord);
}

.card {
  display: flex;
  flex-flow: column;
  padding: 1dvh 1dvw;
  gap: 2dvh;
  background-color: var(--cardcolorl);
  color: var(--fontcolorl);
  /* border: 1dvh solid hsl(var(--color3), 100%, 50%); */
  /* border-radius: 20px; */
}

.card-dark {
  composes: card;
  background-color: var(--cardcolord);
  color: var(--fontcolord);
}

@media (max-width: 800px) {
  .main {
    padding: 0;
  }
}
