.main {
  padding: 0 20dvw;
  min-height: var(--main-height);
  width: 100dvw;
  display: flex;
  flex-flow: column;
  gap: 3dvh;
  background-color: blue;
}

.main-dark {
  composes: main;
  background-color: darkblue;
}

.section {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 0;
  padding: 1dvh 1dvw;
  gap: 3dvh;
  background-color: hsl(var(--color2), 50%, 85%);
}

.card {
  display: flex;
  flex-flow: column;
  padding: 1dvh 1dvw;
  gap: 2dvh;
  background-color: white;
  border: 1dvh solid hsl(var(--color3), 100%, 50%);
  border-radius: 20px;
}

@media (max-width: 800px) {
  .main {
    padding: 0;
  }
}
