.main {
  composes: main from "./main.module.css";
}

.main-dark {
  composes: main-dark from "./main.module.css";
}

.section {
  composes: section from "./main.module.css";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.title {
  color: hsl(var(--color1), 100%, 30%)
}

.list {
  composes: card from "./main.module.css";
  width: 100%;
  height: 80.3dvh;
  border-color: hsl(var(--color2), 50%, 80%);
  overflow: scroll;
  display: flex;
  flex-flow: column-reverse nowrap;
}

.message-primary {
  background-color: hsla(var(--ccolor2), 100%, 50%, 30%);
  display: flex;
  justify-content: end;
}

.message-other {
  background-color: hsla(var(--color2), 100%, 50%, 30%);
  display: flex;
  justify-content: start;
}

.input-container {
  width: 100%;
  height: 3dvh;
  border-color: hsl(var(--color2), 50%, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3dvh;
  gap: 1dvw;
}

.input-text {
  flex: 1;
  resize: none;
  outline: 1px solid hsl(var(--color1), 100%, 50%);
  height: 6dvh;
}

.send-button {
  flex: 0.25;
  height: 6dvh;
  outline: 1px solid hsl(var(--color1), 100%, 50%);
  &:focus {
    background-color: hsla(var(--color1), 100%, 90%, 10%);
    content: "Braid";
  }
}
