.main {
  composes: main from "./main.module.css";
}

.main-dark {
  composes: main-dark from "./main.module.css";
}

.section {
  composes: section from "./main.module.css";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.title {
  color: hsl(var(--color1), 100%, 30%);
}

.list {
  padding: 1dvh 1dvw;
  gap: 2dvh;
  background-color: white;
  border: 1dvh solid hsl(var(--color3), 100%, 50%);
  border-radius: 20px;

  width: 100%;
  height: 65.3dvh;
  border-color: hsl(var(--color2), 50%, 80%);
  overflow: hidden scroll;
  display: flex;
  flex-flow: column-reverse nowrap;
}

.message-primary {
  background-color: hsla(var(--ccolor2), 100%, 50%, 30%);
  display: flex;
  justify-content: end;
  width: 100%;
  text-overflow: ellipsis;
  word-break: break-all;
  hyphens: auto;
}

.message-other {
  background-color: hsla(var(--color2), 100%, 50%, 30%);
  display: flex;
  justify-content: start;
  width: 100%;
  text-overflow: ellipsis;
  word-break: break-all;
  hyphens: auto;
}

.input-container {
  width: 100%;
  height: 3dvh;
  border-color: hsl(var(--color2), 50%, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3dvh;
  gap: 1dvw;
}

.input-text {
  flex: 1;
  resize: none;
  outline: 1px solid hsl(var(--color1), 100%, 50%);
  height: 6dvh;
}

.send-button {
  flex: 0.25;
  height: 6dvh;
  outline: 1px solid hsl(var(--color1), 100%, 50%);
  &:focus {
    background-color: hsla(var(--color1), 100%, 90%, 10%);
    content: "Braid";
  }
}
