:root {
  --color1: 191;
  --color2: 221.18;
  --color3: 251.29;

  --ccolor1: 11.06;
  --ccolor2: 41.18;
  --ccolor3: 341.18;

  --bgcolorl: hsl(var(--color2), 100%, 95%);
  --bgcolord: hsl(var(--color2), 100%, 10%);

  --sectioncolorl: hsl(var(--color3), 100%, 95%);
  --sectioncolord: hsl(var(--color3), 20%, 30%);

  --cardcolorl: hsl(var(--color3), 100%, 90%);
  --cardcolord: hsl(var(--color3), 20%, 55%);

  --itemcolorl: hsl(var(--color3), 100%, 93%);
  --itemcolord: hsl(var(--color3), 70%, 40%);
  --itemcolorlh: hsl(var(--color3), 90%, 90%);
  --itemcolordh: hsl(var(--color3), 60%, 50%);

  --titlecolorl: hsl(var(--color2), 100%, 75%);
  --titlecolord: hsl(var(--color2), 100%, 95%);

  --fontcolorl: hsl(var(--color1), 100%, 0%);
  --fontcolord: hsl(var(--color1), 100%, 100%);
}
