.section {
  composes: section from "./friendInterface.module.css";
}

.section-dark {
  composes: section-dark from "./friendInterface.module.css";
  background-color: #fff;
}

.section-header {
  display: flex;
  gap: 1dvw;
  & > button {
    background-color: hsl(var(--color1), 90%, 50%);
    cursor: pointer;
    &:hover {
      background-color: hsl(var(--color1), 90%, 70%);
    }
  }
}
.section-header-dark {
  composes: section-header;
}

.friend-request-list {
  composes: list from "./friendInterface.module.css";
}

.friend-request-list-dark {
  composes: list-dark from "./friendInterface.module.css";
}

.friend-request-list-item {
  composes: list-item from "./friendInterface.module.css";
}

.friend-request-list-item-dark {
  composes: list-item-dark from "./friendInterface.module.css";
}

.friend-request-list-username {
  composes: list-item-element from "./friendInterface.module.css";
}

.friend-request-list-username-dark {
  composes: list-item-element-dark from "./friendInterface.module.css";
}
