.section {
  composes: section from "./friendInterface.module.css";
}

.section-dark {
  composes: section-dark from "./friendInterface.module.css";
}

.friend-list {
  composes: list from "./friendInterface.module.css";
}

.friend-list-dark {
  composes: list-dark from "./friendInterface.module.css";
}

.friend-list-item-settings {
  cursor: pointer;
  padding: 0.25rem;
}

.friend-list-item {
  composes: list-item from "./friendInterface.module.css";
  composes: friend-list-item-settings;
}

.friend-list-item-dark {
  composes: list-item-dark from "./friendInterface.module.css";
  composes: friend-list-item-settings;
}

.friend-list-item-value {
  cursor: pointer;
}

.friend-list-item-value-dark {
  composes: friend-list-item-value;
}

.search-user-list-username {
  composes: list-item-element from "./friendInterface.module.css";
}

.friend-list-search {
}
