.section {
  composes: section from "./friendInterface.module.css";
}

.section-dark {
  composes: section-dark from "./friendInterface.module.css";
}

.friend-list {
  composes: list from "./friendInterface.module.css";
}

.friend-list-item {
  composes: list-item from "./friendInterface.module.css";
  padding: 0.25rem;
  cursor: pointer;
}

.friend-list-item-value {
  cursor: pointer;
}

.search-user-list-username {
  composes: list-item-element from "./friendInterface.module.css";
}

.friend-list-search {
}
