.search-user-section {
  composes: section from "./friendInterface.module.css";
}

.search-user-list {
  composes: list from "./friendInterface.module.css";
}

.search-user-list-item {
  composes: list-item from "./friendInterface.module.css";
}

.search-user-list-username {
  composes: list-item-element from "./friendInterface.module.css";
}

.search-user-form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-user-form > div {
  flex: 1 1 auto;
}
