.main {
  composes: main from "./../main.module.css";
}

.main-dark {
  composes: main-dark from "./../main.module.css";
}

.section {
  composes: section from "./../main.module.css";
}

.card {
  composes: card from "./../main.module.css";
}

.notification-show {
  opacity: 0;
  transition: all 250ms linear 2s;
}

.friend-options {
  display: flex;
  width: 100%;
  gap: 0.25dvw;
}

.friend-options button {
  flex: 1;
  cursor: pointer;
}
